<!-- firehose track 4, lesson 13 - created 16 jun 17 -->

<br />
<div class="booyah-box col-10 offset-1">
  <h1>Add a new course</h1>
  <%= simple_form_for @course, url: instructor_courses_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :cost %>
    
<!-- next line added 23 jun 17 for image upload, lesson 22 (challenge) -->
    <%= f.input :image %>
    
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div>
