<!-- firehose track 4, lesson 13 - file created 16 jun 17 for course show page -->

<br />
<div class="booyah-box col-10 offset-1">

<!-- next line added 21 jun 17 -->
  <h1 class="text-center"><%= current_course.title %></h1>
  <br/>

<!-- next line added 24 jun 17 for displaying images - lesson 22 (challenge) -->
  <%= image_tag current_course.image, class: 'img-fluid' %>   <!-- shows image on course page -->
  
<!-- next 2 lines added to preview course page as students would see it -->

<!-- next line added 21 jun 17 -->
  <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr" />
  
<!-- next 2 lines replaced by 3 lines below them for new section form -->

  <div class="text-center">
<!-- next line added 21 jun 17 -->

  <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
  </div>
  
  <ul>

    <% current_course.sections.each do |section| %>
      <li>
        <%= section.title %>
        
<!-- next lines added 17 jun 17 for lesson form -->
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
       <ul>
          <% section.lessons.each do |lesson| %>
            <li>
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
  
</div>
