<!-- firehose track 4, lesson 21 - file created 21 jun 17 for lesson show pages -->

<br />

<div class="booyah-box col-10 offset-1">
  
<!--  <h1>Lesson Show Page</h1>  -->
  <h1><%= current_lesson.title %></h1>
  <p class="float-left">                <!-- class added 9 jul 17 for next lesson button (lesson 37) -->
    <%= current_lesson.subtitle %>
  </p>
  
  <br />
  
<!-- next 8 lines added 9 jul 17 for next lesson button (lesson 37) -->
  <% if current_lesson.next_lesson.present? %>
    <%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-default float-right' do %>
      Next Lesson &nbsp;
      <span class="fa fa-forward"></span>
    <% end %>
  <% end %>

  
  <!-- next 8 lines added 9 jul 17 for bonus to lesson 37 -->
  <% if current_lesson.previous_lesson.present? %>
    <%= link_to lesson_path(current_lesson.previous_lesson), class: 'btn btn-default float-left' do %>
      <span class="fa fa-backward"></span> &nbsp;
      Previous Lesson
    <% end %>
  <% end %>

  <br class="clr" />
  <br />
  
<!-- next 11 lines added 25 jun 17 for embedding video (lesson 25) -->
<!--  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"  -->
  <video id="my-video" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto"
  poster="<%= image_path('black.jpg') %>" data-setup="{}">
<!--    <source src="MY_VIDEO.mp4" type='video/mp4'>  -->
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
<!--    <source src="MY_VIDEO.webm" type='video/webm'>  -->
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </noscript>
  </video>
  
<!-- next line added/deleted 25 jun 17 for showing video link on page (lesson 24) -->
<!--  <%= link_to 'Video', current_lesson.video.to_s %>  -->
  
</div>
