<!-- firehose track 4, lesson 18 - file created 17 jun 17 for lessons -->

<br />
<div class="booyah-box col-10 offset-1">
  <h1>Add a new lesson</h1>
  

<!-- next line added 21 jun 17 -->
  <%= simple_form_for @lesson, url: instructor_section_lessons_path(current_section) do |f| %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
<!-- next line added 25 jun 17 for video upload (lesson 24) -->
    <%= f.input :video %>
    <br/>
    <%= f.submit "Add the lesson", class: 'btn btn-primary' %>
    <br/>
    <br/>
  <% end %>
  
</div>
